{% extends "base.html" %}


{% block conteudo %}
<div class="container py-3">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <form method="POST" class="p-3 border rounded shadow-sm">
                {% if message %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
                {% endif %}
                
                <div class="form-outline mb-3">
                    <input type="email" id="form2Example1" name="email" class="form-control form-control-sm" />
                    <label class="form-label" for="form2Example1">Email</label>
                </div>

                
                <div class="form-outline mb-3">
                    <input type="password" id="form2Example2" name="password" class="form-control form-control-sm" />
                    <label class="form-label" for="form2Example2">Senha</label>
                </div>

                
                <button type="submit" class="btn btn-primary btn-sm btn-block">entrar</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

